html {
    font-size: 10px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
    font-family: 'Open Sans', sans-serif;
    /*здесь должно быть имя шрифта из Google fonts*/
    background-color: #202020;
  }
  body {
    width: 60%;
    margin: 5% auto;
    background-color: #f5d0e0;
    padding: 5% 10% 10% 10%;
    border: 10px solid rgb(199, 83, 122);
  }
  h1 {
    font-size: 60px;
    text-align: center;
    color: rgb(159, 0, 149);
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 3px rgb(86, 0, 80);
  }
  
  p, li, ol {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
    color: rgb(189, 12, 127);
  }
  p  {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color: rgb(121, 119, 121);
  }
  h2  {
    font-size: 30px;
    line-height: 2;
    letter-spacing: 1px;
    color: rgb(160, 21, 153);
  }
  img {
    display: block;
    margin: 0 auto;
  }
a:hover {
color:rgb(86, 0, 80)
 }